@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<p>Have a question? Want to report a bug? Drop us a line here: <a href="mailto:@Constants.SupportEmail">@Constants.SupportEmail</a></p>