
@{
    ViewData["Title"] = "Done";
}

<h2 class="header-2">Done</h2>
<p>That's all we have for today. Check back tomorrow for more generated images,
    or click <a asp-controller="Daily" asp-action="All">here</a> to view images from the past.</p>

<p>Thank you so much for playing!</p>
