@{
    ViewData["Title"] = "Licenses";
}

<div class="margin-20">
    <h2>@ViewData["Title"]</h2>

    <h3>Roboto Font</h3>
    <p>License: <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a></p>
    <ul>
        <li>Roboto-Thin.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-ThinItalic.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-Light.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-LightItalic.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-Regular.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-Italic.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-Medium.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-MediumItalic.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-Bold.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-BoldItalic.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-Black.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
        <li>Roboto-BlackItalic.ttf: Copyright 2011 Google Inc. All Rights Reserved.</li>
    </ul>

    <h3>pixelFJ8pt1 Font</h3>
    <p>License: <a target="_blank" href="https://www.1001fonts.com/licenses/ffc.html">1001Fonts Free For Commercial Use License (FFC)</a></p>
    <ul>
        <li>Made by <a target="_blank" href="https://www.1001fonts.com/users/flashjunior/">flashjunior</a></li>
    </ul>
</div>
